<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ejemplo con tex area</title>
  </head>
  <body>
    <div id="app">
        <form>
          <h1 v-show="!message">Como por obra de magía este titulo se ira a viajar al universo si escribes algo aqui abajo:</h1>
          <textarea v-model="message"></textarea>
          <button type="submit" v-if="message" style="display:block">enviar al espacio</button>
        </form>

          <!-- <pre>{{ $data | json }}</pre> -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.min.js"></script>
    <script type="text/javascript">
    var info = {
      message: ''
    }

        new Vue({
          el: '#app',
          data: info
        });


    </script>
  </body>
</html>
